@import url("/assets/styles/font.css");

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Metrophobic";
	background-color: #363636;
	color: black;
}

h1, h2, h3 {
	font-family: "Permanent Marker";
}

h1 {
	font-size: 2em;
}

main {
	max-width: 1280px;
	margin: auto;
}