@import url("/assets/styles/font.css");

html,
body {
	margin: 0;
	padding: 0;
    display: flex;
    flex-flow: column wrap;
}

body {
	font-family: "Metrophobic";
	font-size: 24px;
	background-color: #363636;
	color: black;
}

h1, h2, h3 {
	font-family: "Permanent Marker";
}

h1 {
	font-size: 2em;
}

.avatar {
	border: solid 1em black;
	border-radius: 50%;
	background-color:black;
	display: flex;
}