header {
	display: block;
	width: 100%;
	max-width: 1280px;
	margin: auto;
	height: 400px;
}

header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 400px;
	background-image: url(/assets/images/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

header div.avatar-container {
	position: relative;
	width: 100%;
	height: 100%;
}

header img {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 24px;
	aspect-ratio: 1;
	height: calc(400px * 0.75);
	border-radius: 100%;
	border-color: black;
	border-style: solid;
	border-width: 10px;
}
