---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Cat-a-clysm">
    <div class="avatar">aaa</div>
	<h1>Cat-a-clysm</h1>
    <p>Socials go here</p>
    <h1>Bio</h1>
    <p>Short bio here</p>
    <h1>Projects</h1>
    <ol>Celeste Hearts</ol>
    <h1>Blog / Ramblings</h1>
</BaseLayout>
