@font-face {
    font-family: "Metrophobic";
    src: url("/assets/fonts/Metrophobic-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Permanent Marker";
    src: url("/assets/fonts/PermanentMarker-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
